{% extends 'chatapp/base.html' %}
{% block title %}Chat{% endblock %}
{% block content %}
  <div class="d-flex border border-3 rounded" style="height:85vh">
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white border-end"
         style="">
      <div id=""
           class="list-group list-group-flush"
           style="overflow-y:auto;
                  width:200px">
        {% if friends|length != 0 %}
          {% for friend in friends %}
            {% if currentChat.friend.id == friend.friend.id %}
              <a href="#"
                 class="border-bottom list-group-item list-group-item-action active py-3 lh-tight"
                 style=""
                 aria-current="true">
                <div id="friend-block-{{ friend.friend.id }}"
                     class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">{{ friend.friend.username }}</strong>
                </div>
              </a>
            {% else %}
              <a href="{% url 'chat' friend.friend.id %}"
                 class="border-bottom list-group-item list-group-item-action py-3 lh-tight"
                 style="">
                <div id="friend-block-{{ friend.friend.id }}"
                     class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1">{{ friend.friend.username }}</strong>
                  {% if friend.isUnread %}
                    <span id="message-indicator-{{ friend.friend.id }}" class="badge bg-danger">new</span>
                  {% endif %}
                </div>
              </a>
            {% endif %}
          {% endfor %}
        {% else %}
          <a class="text-center" href={% url 'add-friend' %}>Add friends</a>
        {% endif %}
      </div>
    </div>
    {% block chatwindow %}{% endblock %}
  </div>
{% endblock %}
